
<div class="container">
  <h2>Liste des Formations</h2>
  <h1>Recherche de formations</h1>


  <div class="search-bar">
    <input type="text" [(ngModel)]="search" placeholder="Entrez un mot clé ou un titre..." class="search-box" />
    <button (click)="rechercher()" class="btn-submit">Rechercher</button>
    
  </div>
  <div class="results" *ngIf="resultats.length > 0">
    <div class="card" *ngFor="let f of resultats">

      <div class="card-header">
        <h3>{{ f.titre }}</h3>
      </div>

      <div class="card-body">
        
        <img [src]="f.photo" [alt]="f.titre" class="img-logo">

        <p><strong>Charge horaire :</strong> {{ f.chargeHor }}h</p>
        <p><strong>Niveau :</strong> {{ f.niv }}</p>

        <p>
          <strong>Mots clés :</strong>
          <span class="tag" *ngFor="let mot of f.motCle">{{ mot }}</span>
        </p>

        <p>
          <strong>Catégories :</strong>
          <span class="tag cat" *ngFor="let c of f.categ">{{ c }}</span>
        </p>
        <a [routerLink]="['/details', f.id]" class="btn">Voir détails</a>

      </div>

    </div>
  </div>
  <p *ngIf="resultats.length === 0">
    Aucune formation trouvée.
  </p>
</div>