.admin-formation-container {
  max-width: 1000px;
  margin: 40px auto;
  font-family: "Segoe UI", sans-serif;
}

/* FORM CARD */
.form-card {
  background: #1b263b;
  color: white;
  padding: 25px;
  border-radius: 14px;
  margin-bottom: 40px;
}

.form-card label {
  display: block;
  margin-top: 15px;
}

.form-card input,
.form-card select {
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  margin-top: 5px;
  border: none;
}

.btn-add {
  margin-top: 20px;
  padding: 12px;
  width: 100%;
  background: #0077a6;
  border: none;
  color: white;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
}

/* LISTE DES FORMATIONS */
.formation-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 25px;
}

.formation-card {
  background: #f8fafc;
  padding: 15px;
  border-radius: 15px;
  text-align: center;
  box-shadow: 0 3px 10px rgba(0,0,0,0.1);
}

.formation-card img {
  width: 120px;
  height: 120px;
  object-fit: contain;
}

.btn-delete {
  margin-top: 10px;
  padding: 8px 15px;
  background: #b00020;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}
